body {background-color: #FFFFFF}

a:link, a:active, a:visited {color:blue}
a:hover {color:white; background:blue}
a.plain:link, a.plain:active, a.plain:visited {color:blue; text-decoration:none}
a.plain:hover {color:white; text-decoration:none; background:blue}

table.indent {margin-left: 20px}

